@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: "Pretendard", sans-serif !important;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  padding: 0;
  background-color: #f7f9ff;
  box-sizing: border-box;
}
